.body{
    background-image: url(food\ spaced.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.T {
    background-color: rgb(224, 241, 193);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
p{
    font-weight: 800px;
    font-size: 30px;
}