.h {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(126, 210, 144);
   text-align: center; 
   background-image: url(food\ spaced.jpg)
    
}

.T {
    background-color: rgb(224, 241, 193);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.CATCHY {
    font-style: oblique;
}

.SEC {
    display: flex;
    justify-content: center;
}

.services {
    color: blue;
}
.RESTAU{
    font-size: 50px;
    color: aliceblue;
}
.list{
    list-style-type: none;
}
p{
    font-weight: bolder;
}
li{
    font-size: 30px;
}
p{
    font-size: 30px;
}