.BUM {
    background-image: url(food\ spaced.jpg);
    text-align: center;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}

.T {
    background-color: rgb(198, 238, 206);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
p{
    font-weight:bolder
}